body{
    height:100vh;
    background-image: url(about.jpg);
    display: inline;
    justify-content: center;
    align-items: center;
}
.img-wrap{
 width:100%;   
}
.img-wrap img{
    width:120%;
    padding:10px;
    border-radius:50%;
    box-shadow: 0 0 10px #999999;


}
#aboutus h2{
    margin-bottom: 25px;


}
p{
    color: slategray;
}
*
{
    margin: 0;
    padding: 0;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 10;
    padding-left: 10px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}